@tailwind base;
@tailwind components;
@tailwind utilities;
@import "aside";

@layer utilities  {
  :root {
    --bg-root: #FFF7F5;
    --bg-green-dark: #33694D;
    --bg-green-mid: #418663;
    --bg-green-light: #19864E;
    --bg-green-hover: #E8FFEA;
    --bg-brown-mid: #875B4E;
  }


  .full-width {
    width: 100% !important;
  }
}

.darker-background {
  background-color: rgba(0, 0, 0, 0.5) !important; // Adjust the color and opacity as needed
}


//  @font-face {
//    font-family: "Luciole-Regular", cursive;
//    font-weight: 400;
//    font-style: normal;
//    src: url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital@0;1&display=swap') format('woff2');
//  }
//}
