<div class="bg-[--bg-green-light] opacity-90 h-full pb-2 shadow-md w-full">
    <div class="flex items-center justify-center w-full py-2.5 bg-[--bg-green-dark]">
        <h2 class="text-white font-bold">Gestion</h2>
    </div>
    <ul class="text-[--bg-green-light] font-medium gap-4 divide-y border-t-2 border-b cursor-pointer">
        <li class="flex flex-col py-2.5 pl-0 bg-white gap-2 hover:bg-[--bg-green-hover] transition-all lg:flex-row items-center lg:pl-2">
            <img src="{{ asset('build/images/icons/home.svg') }}" alt="home" width="12px">
            <p>Accueil</p>
        </li>
        <li class="flex flex-col py-2.5 pl-0 bg-white gap-2 hover:bg-[--bg-green-hover] transition-all lg:flex-row items-center lg:pl-2">
            <img src="{{ asset('build/images/icons/cup.svg') }}" alt="cup" width="12px">
            <p>Tournois</p>
        </li>
        <li class="flex flex-col py-2.5 pl-0 bg-white gap-2 hover:bg-[--bg-green-hover] transition-all lg:flex-row items-center lg:pl-2">
            <img src="{{ asset('build/images/icons/ranking.svg') }}" alt="ranking" width="12px">
            <p>Classement</p>
        </li>
        <li class="flex flex-col py-2.5 pl-0 bg-white gap-2 hover:bg-[--bg-green-hover] transition-all lg:flex-row items-center lg:pl-2">
            <img src="{{ asset('build/images/icons/organise.svg') }}" alt="organise" width="12px">
            <p>Organiser</p>
        </li>
    </ul>
</div>
