<ul class="container mx-auto flex sm:justify-start justify-center text-[--bg-green-light] font-medium">
    <li class="flex px-8 hover:bg-[--bg-green-hover] transition-all bg-white justify-center lg:justify-start cursor-pointer">
        <a href="{{ path('app_home') }}" class="flex flex-row py-2.5 pl-0 gap-2 lg:pl-2 items-center w-full">
            <img src="{{ asset('build/images/icons/home.svg') }}" alt="home" width="12px">
            <p>Accueil</p>
        </a>
    </li>
    <li class="flex px-8 hover:bg-[--bg-green-hover] transition-all bg-white justify-center lg:justify-start cursor-pointer">
        <a href="{{ path('app_tournament_list') }}" class="flex flex-row py-2.5 pl-0 gap-2 lg:pl-2 items-center w-full">
            <img src="{{ asset('build/images/icons/cupGreen.svg') }}" alt="cup" width="12px">
            <p>Tournois</p>
        </a>
    </li>
</ul>

